<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        <div>
            <%= link_to "Ir a inicio", posts_index_path, class:"btn btn-primary mr-5" %>
        </div>

    </div>
<% else %>
    <h1 class="mt-4 mb-4">Publicación exitosa</h1>
    <span>
        <%= link_to "Ir a Inicio", posts_index_path, class:"btn btn-primary mr-5" %>
        <%= link_to "Ir a Dashboard", posts_dashboard_path, class:"btn btn-success mr-5" %>
    </span>
<% end %>
